@font-face {
  font-family: 'iconfont';  /* project id 1032841 */
  src: url('//at.alicdn.com/t/font_1032841_m7iwxxbghs.eot');
  src: url('//at.alicdn.com/t/font_1032841_m7iwxxbghs.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1032841_m7iwxxbghs.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1032841_m7iwxxbghs.woff') format('woff'),
  url('//at.alicdn.com/t/font_1032841_m7iwxxbghs.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1032841_m7iwxxbghs.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-off:before {
  content: "\e629";
}

.icon-eye:before {
  content: "\e668";
}

